footer .padre-redes .box-r{
    a{
        color:black;
    }
    a:link{
        color: black;
        background: none;
        text-decoration: none;
    }
    a:hover{
        color: black;
        background: none;
        text-decoration: none;
    }    
}

h2{
    display: none;
}

// efectos 
i:hover{
    transform: scale(2);
}

