<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis GIFOS</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../assets/logo-desktop.svg" alt="logo"></a>
        <nav>
            <div class="menu">
                <input type="checkbox" id="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul class>
                    <li><a href="#">MODO NOCTURNO</a></li>
                    <li><a href="./favoritos.html">FAVORITOS</a></li>
                    <li><a href="./crearGifos.html">MIS GIFOS</a></li>
                    <li><a href="./misGifos.html"><img src="./assets/button-crear-gifo.svg" alt="btn-mas"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="crear-gifos">
            <img src="" alt="camara-dere">
            <div class="cuadro-busqueda">
                <div class="texto-1">
                    <div class = "texto-1-1">Aquí podrás</div-texto-1-1>  
                    <div class="texto-1-2"></div> crear tus propios <span>GIFOS</span>
                </div>

                <div class="texto-2">
                    <div class="texto-2-1">¡crea tu GIFO en sólo 3 pasos!</div> 
                    <div class="texto-2-2">(sólo necesitas una cámara para grabar un video)</div> 
                </div>
            </div>
        </section>

        <section class="conteo-gifos">
            <img src="./assets/paso-paso.svg" alt="conteo">
        </section>

        <section class="iniciar-gifo">
            <div class="linea-divisora">

            </div>

            <img src="" alt="">
        </section>
        
    </main>

    <footer>
        <div class="redes">
            <img src="./assets/icon_facebook.svg" alt="icon-facebook">
            <img src="./assets/icon_twitter_noc.svg" alt="icon-twitter">
            <img src="./assets/icon_instagram.svg" alt="icon-instagram">
        </div>
        
        <div class="copyRight">© GIFOS 2020 All Rights Reserved.</div>
    </footer>
    <script src="./components/app.js"></script>
</body>
</html>