<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis GIFOS</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../assets/logo-desktop.svg" alt="logo"></a>
        
        <nav>
            <div class="menu">
                <input type="checkbox" id="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul class>
                    <li><a href="#">MODO NOCTURNO</a></li>
                    <li><a href="./favoritos.html">FAVORITOS</a></li>
                    <li><a href="./crearGifos.html">MIS GIFOS</a></li>
                    <li><a href="./misGifos.html"><img src="./assets/button-crear-gifo.svg" alt="btn-mas"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class = "main-1-fav">
            <div class = "title-fav">
                <img src="../assets/icon-mis-gifos.svg" alt="icon-favoritos">
                <div>Mis gifos</div>
                <div class = "grilla-gifos">
                    <!-- 8 imagenes de los gifos favoritos -->
                </div>
                <a href=""><img src="../assets/CTA-ver-mas.svg" alt="ver-mas"></a>
            </div>
        </section>

        <section class = "main-2">
            <div class = "title">Trending GIFOS</div>
            <div class = "subtitle">Mira los últimos GIFOS de nuestra comunidad.</div>
            <div class="carrusel">
                <img src="" alt="fle-izq">
                <img src="" alt="cat">
                <img src="" alt="song">
                <img src="" alt="women">
                <img src="" alt="fle-der">
            </div>
        </section>
        
    </main>

    <footer>
        <div class="redes">
            <img src="./assets/icon_facebook.svg" alt="icon-facebook">
            <img src="./assets/icon_twitter_noc.svg" alt="icon-twitter">
            <img src="./assets/icon_instagram.svg" alt="icon-instagram">
        </div>
        
        <div class="copyRight">© GIFOS 2020 All Rights Reserved.</div>
    </footer>
    <script src="./components/app.js"></script>
</body>
</html>